<h3>Calcolo flight time:</h3>
    Capacity:<input type="number" ng-model="num.cap">
    Ampere-Totali:<input type="number" ng-model="num.amp">
    <button type="submit">calcola</button><br><br>
    Flight-time=<p id="ris"></p><hr>
<h3>Calcolo Forza di spinta :</h3>
    Volt:<input type="number" id="volt" name="text3">
    Ampere-Totali:<input type="number" id="amp2" name="text4">
    <button onclick="myFunction2()">calcola</button><br><br>
    Watt=<p id="ris2"></p><hr>
<h3>Calcolo velocita del mezzo :</h3>
    RPM:<input type="number" id="rpm" name="text5">
    Passo elica:<input type="number" id="pe" name="text6">
    <button onclick="myFunction3()">calcola</button><br><br>
    Speed=<p id="ris3"></p><hr>
 </div> 
