<h3>Calcolo flight time:</h3>
    Capacity:<input type="number" ng-model="n.cap">
    Ampere-Totali:<input type="number" ng-model="n.amp"><br>
    <div layout="row">Flight-time={{n.cap/n.amp}}min</div><hr>

<h3>Calcolo Forza di spinta :</h3>
    Volt:<input type="number" ng-model="n.volt">
    Ampere-Totali:<input type="number" ng-model="n.totamp"><br>
    <div layout="row">Watt={{n.volt*n.totamp}}watt</div><hr>

<h3>Calcolo velocita del mezzo :</h3>
    RPM:<input type="number" ng-model="n.rpm">
    Passo elica:<input type="number"ng-model="n.pe"><br>
    <div layout="row">Velocita={{n.rpm*n.pe}}Kmh</div><hr>
