<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Controllers</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ui/appbar/appbar.css">
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    

    
    
    <!-- bind the item controller to an element -->
      <div ng-controller="ItemsCtrl">
      <div ng-controller="PlayerCtrl">
      
      <div>Player Name:{{::player.name}}</div>
      <div>Player HP:{{player.hp}}</div>
      <div>Is Player Dead?{{isDead()}}</div>
      <div>Player Exp {{player.exp}}</div>
      <div>Player Lvevel{{player.level}}</div>
      
      <button ng-click="tDamage(30)">Take hit!</button>
      <button ng-click="gainExp(63)">GainExp</button>
      <button ng-click="levelUp()">LevelUp</button>
      
    </div>
      <!-- interpolate the data to the view -->
      <div>
       Name: <span ng-bind="item.name"></span>
      </div>
      <div ng-show="visibleDescription">
        Description:<span ng-bind="item.description"></span>
      </div>
     <button ng-click="toggleDescription()">
     <span ng-show="visibleDescription">Hide</span>
     <span ng-hide="visibleDescription">Show</span>
     Description
     
     </button>
     
      <div>
       slots: <span ng-bind="item.slots"></span>
      </div>
      <div>
        Fits in bag?{{checkIfFits(item,5)}}
      </div>
      <div>
        <img ng-hide="!item" ng-src="{{item.image}}" alt="">
      </div>
      <button ng-click="dispose()">Dispose</button>
    </div>
    
    
    <!-- understanding the scope -->
    
    <!-- add handles for behaviours -->
    
    
    <!-- create another controller for the player for managing data such as personal and game info -->
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>

    <script src="subjects/controllers/app.js"></script>
     <!-- load the item controller -->
    <script src="subjects/controllers/item.controller.js"></script>
    <script src="subjects/controllers/player.controller.js"></script>
  </body>
</html>
