<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Filters</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ui/appbar/appbar.css">
<!--    <link rel="stylesheet" href="ui/form/form.css"> -->
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    
    <!-- get a list of items -->
    <div ng-controller="ItemsCntrl">
      <h2>OrderBy</h2>
      <select name="orderBySelect" ng-options="option.prop as option.title for option in orderByOptions" ng-model="selectedOrderByOption"></select>
      <label>Reverse
          <input type="checkbox" ng-model="selectedReverse">
      </label>
        <h2>Filter:</h2>
        <input type="text" ng-model="search[selectedFilterProp]">
      <form>
        <label>
          Suitability?:
          <input type="checkbox" ng-model:"onlySuitable">
        </label>
        <label>
          All
          <input type="radio" ng-model:"selectedFilterProp" value="$">
        </label>
        <label>
          Name
          <input type="radio" ng-model:"selectedFilterProp" value="name">
        </label>
        <label>
          Description
          <input type="radio" ng-model:"selectedFilterProp" value="description">
        </label>
      </form>
        <h2>Item:</h2>
      <ul>
        <li ng-repeat="item in items | suitability : onlySuitable | filter:search |orderBy: selectedOrderByOption:selectedReverse">
          <p>Name:{{::item.name}}</p>
          <p>Gold:{{::item.price | price}}</p>
          <p>Availability:{{::item.availability | availability}}</p>
          <p>Created at:{{item.createdAt | date: 'dd/mm/yyyy'}}</p>
          <p>Races:{{::item.races | races}}</p>
          <p>Suitable?:{{item.races | suitable | YoN}}</p>
          </li>
      </ul>
    </div>
    <!-- sort items by price -->
    
    <!-- sort items by name -->
    
    <!-- filter items for name -->
    
    <!-- implement a filter for prices -->
    
    <!-- implement a filter for availability -->
    
    <!-- implement a filter for suitabilty -->
    
    <!-- implement a filter for races -->
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>
    <script src="subjects/filters/app.js"></script>
    <script src="subjects/filters/items.controller.js"></script>
    <script src="subjects/filters/items.filter.js"></script>
    <script src="subjects/filters/player.service.js"></script>
    <script src="subjects/filters/text.filter.js"></script>
  </body>
</html>
